.club{
  margin-top:20px;
}
.club-logo {
  width:100%;
  max-width:70px;
}
.club-heading {
  margin-top: 0px;
}
.sub-club {
  color: #6eceb2;
  margin-top: 0px;
}
.btn-apply {
  float:right;
  width:40px;
  height:40px; 
  border-radius:0 0 0 0;
  background:#ece81a;
  color:white;
  font-size:20px;
  font-weight:bold;
}
.project {
  margin-top: 30px;
}
.project-club-logo {
  float: right;
  width: 60px;
}
.project-img {
  width: 100%;
  height: 300px;
  background-size: cover;
  opacity: .5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.project-img:hover {
  opacity: 1;
}