.club{
  margin-top:20px;
}
.club-logo {
  width:100%;
  max-width:70px;
}
.club-heading {
  margin-top: 0px;
}
.sub-club {
  color: #6eceb2;
  margin-top: 0px;
}
.btn-apply {
  float:right;
  width:40px;
  height:40px; 
  border-radius:0 0 0 0;
  background:#ece81a;
  color:white;
  font-size:20px;
  font-weight:bold;
}