/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #01426a;
  font-family: "Open Sans";
  font-weight: 300;
  margin-top: 70px;
  margin-bottom: 60px;
}

h1 {
  color: #ece81a;
  font-family: "Open Sans";
  font-weight: 800;
  text-transform: uppercase;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 2px dotted #f4364c;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar {
	/*background: #004d66;*/
  background: #01426a;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.navbar-brand>img {
  max-width: 100%;
  height:100%;
  border-bottom: 2px dotted #f4364c;
}
.navbar-brand::after {
  content: 'OMAHA';
  color: white;
  display: block;
  text-align: center;
};

/* TODO: finicky, can't get these two margin settings to combine */;
.navbar-nav {
  margin: 10px 0 !important;
}
ul.nav {
  margin: 10px 0 !important;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 10px;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}
@media screen and (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: white;
  }
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover{
  background: #01426a;
  color: #ece81a;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #ece81a;
}

.navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background: #01426a;
  color: #ece81a;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse {
  border-color: transparent;
}

p > a {
  color: #01426a;
  font-style: italic;
  font-weight: 800;
}

#fb {
	padding-top: 30px;
}


/* Center align the text within the four columns for the team*/

.team {
	/*margin-top: 100px;*/
}
.team .col-md-3 {
  margin-bottom: 20px;
  text-align: center;
}
.team h2 {
  font-weight: normal;
}
.team .col-md-3 p {
  margin-right: 10px;
  margin-left: 10px;
}

/*I'm only seeing wrap-left being used on the About page but it's listed under .team
so I'm worried I'm mucking something up somewhere that I can't find.
----------------------------------------------------- */
.wrap-left {
	float: left;
	margin: 10px;
	height:280px;
	width:220px;
	border-radius:5px;
}

#mobile-view {
	display:none;
}

/*About Page Styles
-------------------------------------------------- */

.about-title {
  padding-left: 10px;
}

.about-post {
  padding: 10px;
}
h2.about {
  color: #6eceb2;
}

/*Sponsor Page Styles
-------------------------------------------------- */
.sponsor {
	padding-top: 50px;
}

.sponsor .btn-lg, .sponsor .btn-default {
	background: #01426a;
	margin-bottom: 20px;
}

.sponsor .btn-default {
	color: #fff;
}

.sponsor .modal-body{
	max-height: 800px;
}

.sponsor img {
	height: 120px;
	width: 120px;
}

.sponsor .col-md-3 {
  margin-bottom: 20px;
  text-align: center;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  padding-top: 7.5px;
  height: 35px;
  background: #01426a;
}
.footer * > a {
  color: #6eceb2;
  font-size: 10px;
}
.footer * >.fa {
  color: white;
  font-size: 14px;
}
.footer * >.col-xs-4 {
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer * > a > .social-link-text {
    display: none;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media screen and (max-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* I am only finding this used by the image on the About page in the project */
 img.wrap-left {
	  height: 200px;
	  width: 160px;
  } 
  #desktop-view {
	  display:none;
  }

  #mobile-view {
	  display: inline;
  }
}
